@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  position: relative;
  font-size: 13px !important;
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #000;
}
